@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800&display=swap');

body {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  min-width: 1030px;
}

/* Wrapper class */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  /* 100vh = 1000 px*/
}

/* Main content */
.main-content {
  flex-grow: 1;
}

.container {
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.container ul {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.container ul li {
  list-style: none;
  margin: auto;
  padding: 10px;
}

.container ul li a {
  flex: 1;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.container ul li.active a {
  background: #BB6161;
}

.container ul li a:hover {
  background: #D0A0A0;
  color: white;
}

.logo {
  margin-left: 100px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

/* Footer */
.footer {
  background-color: #D0A0A0;
  padding: 10px;
  text-align: center;
}

.slogan {
  padding-top: 10px;
  text-align: center;
}

.contact-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  overflow: hidden;
  padding: 0 50px;
}

.contact,
.contactSecond,
.icon {
  padding: 5px;
  text-align: left;
}

.contactSecond {
  margin-left: 300px;
  padding: 5px;
}

footer hr {
  background-color: black;
  height: 2px;
  margin: 0 auto;
  width: 200px;
}

.icon img {
  width: 85px;
  height: 80px;
  border-radius: 50%;
}

/* Responsive design */
/* @media (max-width: 891px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
} */
