.title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #333;
}

.color-body {
    background-color: #FFEBEB;
}

.title hr {
    width: 100px;
    height: 2px;
    background-color: #000000;
    justify-self: center;
}

.containerSecond {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.vertical {
    border-radius: 20px;
    background-color: #DFDBDB;
    height: 600px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.vertical button {
    margin-top: 50px;
    color: #333;
    margin-left: 40px;
    font-size: 15px;
    width: 170px;
}

.passedit {
    border: none;
    background-color: darksalmon;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.pass:hover {
    background-color: #aa6a6a;
    transition: all 0.9s ease;

}

.info {
    border: none;
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.info:hover {
    background-color: #5d7224;
    transition: all 0.9s ease;
    color: white;
}

.form-edit {
    width: 100%;
}

.horizontalpass {
    border-radius: 20px;
    background-color: #DFDBDB;
    height: 400px;
    width: 100%;
    border: 1px solid black;
    text-align: right;
}

.horizontalpass input {
    margin-right: 700px;
    width: 800px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

.horizontalpass label {
    text-align: center;
}

.edit {
    justify-self: center
}

.edit button {
    border: 1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    ;
}

.edit button:hover {
    background-color: antiquewhite;
    transition: all 0.9s ease;
    color: #a52727;
}

.main-content {
    flex: 1;
    /* Đẩy footer xuống dưới cùng */
}