 input[type="button"] {
     background-color: #ff6f61;
     color: rgb(0, 0, 0) !important;
     width: 80px;
     height: 40px;
     padding: 0;
     margin: 0;
     border: 1px solid #ccc;
     border-radius: 10px;
 }

 input[type="button"]:hover {
     color: white !important;
 }


 .page {
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }

 .pagination {
     list-style-type: none;
     padding: 0;
     display: flex;
     gap: 10px;
 }

 .page-item {
     margin: 0 5px;
 }

 .page-link {
     display: block;
     padding: 10px 15px;
     text-decoration: none;
     border: 1px solid #ddd;
     border-radius: 5px;
     color: cadetblue;
 }

 .page-link:hover {
     background-color: #915353;
     color: white;
     transition: transform 0.8s ease-in-out;
 }

 .text-rating {
     margin-top: 50px;
     text-align: center;
     font-size: 25px;
 }

 .text-rating hr {
     width: 100px;
     margin: 0 auto;
     margin-bottom: 10px;
 }

 .rating {
     margin: 0 auto;
     background-color: #ddd;
     padding: 20px;
     width: 1300px;
     border-radius: 20px;
     height: 550px;
     margin-bottom: 70px;
 }

 .rating-button button {
     border: none;
     border-radius: 20px;
     margin-right: 20px;
     margin-bottom: 40px;
     background-color: white;
     padding: 10px;
     width: 150px;
 }

 .rating-button button:hover {
     background-color: #915353;
     color: white;
     transition: transform 0.8s ease-in-out;
 }

 .rating-book {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-items: center;
 }

 .rating-book img {
     width: 200px;
     height: 300px;
     object-fit: cover;
     border-radius: 20px;
 }

 .book1 {
     text-align: center;
     margin-top: 60px;
 }

 .book2 {
     text-align: center;
 }

 .book3 {
     text-align: center;
     margin-top: 30px;
 }

 .rating-button .button-select {
     background-color: #bb6161;
 }

 .tren img {
     display: block;
     justify-content: center;
     width: 100%;
     height: 20%;
     margin: 0;
 }

 ul {
     list-style: none;
 }

 a {
     color: #000;
     text-decoration: none;
 }

 .giua {
     display: grid;
     grid-template-columns: 1fr 5fr;
     gap: 10px;
 }

 .than {
     background-color: #FFEBEB;
     padding: 0;
     margin: 0;
 }

 .bentrai {
     background-color: #DFDBDB;
     border-radius: 20px;
     height: 35%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 50px 0 50px 40px;
 }

 .bentrai li {
     margin: 40px auto;
     padding: 10px;
 }


 .buttondangthue {
     background-color: white;
     border: none;
     border-radius: 8px;
     padding: 14px;
 }

 .buttondathue {
     background-color: #bb6161;
     border: none;
     border-radius: 8px;
     padding: 14px;
 }

 .buttondathue a:hover {
     color: white;
 }

 .buttondangthue a:hover {
     color: #ff0000;
 }



 .benphai {
     background-color: #fcfafa;
     margin-bottom: 20px;
     border-radius: 20px;
     padding: 0;
     margin: 0 40px 25px 40px;
     width: 95%;
 }

 .book-card {
     display: flex;
     align-items: center;
     border: 1px solid #ccc;
     border-radius: 15px;
     margin: 25px auto;
     width: 85%;
     height: 210px;
     overflow: hidden;
     padding: 0 30px 0 10px;

 }

 .book-card img {
     height: 200px;
     border-radius: 15px;
     margin-right: 15px;
 }

 .book-info {
     flex-grow: 1;

 }

 .book-title {
     font-size: 25px;
     margin-bottom: 5px;
 }

 .book-author {
     font-size: 15px;
     color: #666;
     margin-bottom: 10px;
     gap: 10px;
 }

 .hello {
     display: flex;
     justify-content: end;
     gap: 5px;
     align-items: center;
     text-align: center;
 }

 .hello p {
     margin: 0;
 }