.book-container {
  display: flex;
  justify-content: center;
  /* Căn giữa */
  padding: 20px;
  /* Thêm khoảng đệm cho toàn bộ container */
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card {
  border-radius: 20px;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-radius: 20px;
  height: 350px;
  width: 250px;
  object-fit: cover;
}

.card-body {
  margin-top: 100px;
  padding: 10px;
}

.card-body i {
  float: right;
  margin-right: 5px;
}

.card-title {
  margin-top: -90px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-muted {
  font-size: 13px;
  /* Giảm kích thước chữ tác giả */
}

input[type="button"] {
  background-color: #ff6f61;
  color: rgb(0, 0, 0) !important;
  width: 80px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="button"]:hover {
  color: white !important;
}

.hello {
  display: flex;
  gap: 10px;

}


.text-warning {
  font-size: 14px;
  /* Giữ kích thước sao đánh giá */
}

#hr-header {
  margin-top: 2px;
  margin-bottom: 2px;
}

.inter {
  color: #000;
  opacity: 0.3;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: cadetblue;
}

.page-link:hover {
  background-color: #915353;
  color: white;
  transition: transform 0.8s ease-in-out;
}

.text-rating {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.text-rating hr {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rating {
  margin: 0 auto;
  background-color: #ddd;
  padding: 20px;
  width: 1300px;
  border-radius: 20px;
  height: 550px;
  margin-bottom: 70px;
}

.rating-button button {
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: white;
  padding: 10px;
  width: 150px;
}

.rating-button button:hover {
  background-color: #915353;
  color: white;
  transition: transform 0.8s ease-in-out;
}

.rating-book {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.rating-book img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.book1 {
  text-align: center;
  margin-top: 60px;
}

.book2 {
  text-align: center;
}

.book3 {
  text-align: center;
  margin-top: 30px;
}

.rating-button .button-select {
  background-color: #bb6161;
}

.tren img {
  display: block;
  justify-content: center;
  width: 100%;
  height: 20%;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.giua {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

.than {
  background-color: #FFEBEB;
  padding: 0;
  margin: 0;
}

.bentrai {
  background-color: #DFDBDB;
  border-radius: 20px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 40px;
}

.bentrai li {
  margin: 40px auto;
  padding: 10px;

}

.buttondangthue {
  color: #bb6161;
}

.buttondathue:hover {
  color: #979393;
}

.benphai {
  background-color: #fcfafa;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 0;
  margin: 0 30px 25px 30px;
}

.buttondangthue2 {
  background-color: #bb6161;
  border: none;
  border-radius: 8px;
  padding: 14px;
}

.buttondathue1 {

  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
}

.buttondathue1 a:hover {
  color: #ff0000;
}

.buttondangthue2 a:hover {
  color: white;
}